.cards
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    padding:20px;
    grid-gap: 40px;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZBlVjjxHX8pTmpm2PGC6CvC9kepKvuDOSAQ&s');


}
.abc{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUMQyN0F4vZrFhH1h12l9e1gK7hjRqIS1p6Q&s');

}